{% extends 'base.html.twig' %}

{% block title %}Изменить чат{% endblock %}

{% block body %}
    <h1>Изменить чат</h1>

    {{ include('chat/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('app_chat_index') }}" class="btn btn-primary d-inline-block mb-3">Вернуться к списку</a>

    {{ include('chat/_delete_form.html.twig') }}
{% endblock %}
