{% extends 'base.html.twig' %}

{% block title %}Новый чат{% endblock %}

{% block body %}
    <h1>Создать новый чат</h1>

    {{ include('chat/_form.html.twig') }}

    <a href="{{ path('app_chat_index') }}" class="btn btn-primary">Вернуться обратно</a>
{% endblock %}
